
{% extends "base.html" %}

{% block title %}Terms{% endblock %}

{% block content %}
<h1>Terms</h1>
<div class="actions">
    <a class="button" href="/terms/new">New Term</a>
</div>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Due</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for term in terms %}
        <tr>
            <td><a href="/terms/{{ term.id }}">{{ term.name }}</a></td>
            <td>{{ term.due }}</td>
            <td>
                <div class="td-actions">
                    <form method="post" action="/terms/{{ term.id }}/delete">
                        <button class="danger" type="submit">Delete</button>
                    </form>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
